.main-header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    top: 0;
    z-index: 10;
}

.bottom-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px; transition: box-shadow 300ms ease-in-out 0s;
}

.main-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 80px;
}

.header-left-content {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.btn-add-pin{
    color: #fff;
    background-color: #000;
    border-radius: 24px;
    padding: 15px 20px;
    margin: 0 20px;
}

.btn-my-pins {
    color: #000;
}

.header-user-container img {
    width: 42px;
    height: 42px;
    border-radius: 50px;
}