* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

.pins-container {
    column-count: 7;
    width: min-content;
    margin: auto;
    padding-top: 90px;
}

.pin {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 30px;
}

.pin img {
    width: 236px;
    border-radius: 16px;
}

@media(max-width: 1763px) {
    .pins-container {
        column-count: 6;
    }
}

@media(max-width: 1511px) {
    .pins-container {
        column-count: 5;
    }
}

@media(max-width: 1259px) {
    .pins-container {
        column-count: 4;
    }
}

@media(max-width: 1007px) {
    .pins-container {
        column-count: 3;
    }
}

@media(max-width: 755px) {
    .pins-container {
        column-count: 2;
        padding: 90px 10px 0 10px;
    }
}