* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

:root {
    font-size: 62.5%;
}

.pins-container {
    column-count: 7;
    padding: 30px;
    margin-top: 90px;
}

.pin {
    cursor: zoom-in;
    margin-bottom: 30px;
    position: relative;
}

.pin:hover img{
    filter: brightness(70%);
    transition: all 1s ease 0s;
    cursor: zoom-in;
}

.pin:hover .pin-save-btn {
    display: flex;
}

.pin img {
    width: 100%;
    border-radius: 16px;
}

.pin-save-btn {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #e60023;
    color: #fff;
    padding: 15px 20px;
    border-radius: 24px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 12px;
}

.pin-save-btn.pin-saved {
    background-color: #000000;
    display: flex;
    cursor: auto;
}

@media(max-width: 1763px) {
    .pins-container {
        column-count: 6;
    }
}

@media(max-width: 1511px) {
    .pins-container {
        column-count: 5;
    }
}

@media(max-width: 1259px) {
    .pins-container {
        column-count: 4;
    }
}

@media(max-width: 1007px) {
    .pins-container {
        column-count: 3;
    }
}

@media(max-width: 755px) {
    .pins-container {
        margin-top: 20px;
        column-count: 2;
        padding: 90px 10px 0 10px;
    }
}